# Byte-compiled / optimized / DLL files                                                                                                                                                                     __pycache__/
*.py[cod]

test
*.pickle
*.npy
dataset

trained_models*
